.entry__container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.entry__date {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 24px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.entry__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.entry__star {
  width: 20px;
  height: 20px;
}

.entry__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.entry__line {
  border: solid 1px var(--color-water-10);
  width: 100%;
}

.entry__container:last-of-type hr {
  display: none;
}
