/*
Use grid to change the layout:

[ ] - Spring is displayed in the upper left corner
[ ] - Summer is displayed in the upper right corner
[ ] - Autumn is displayed at the bottom left
[ ] - Winter is displayed at the bottom right

Hint: you need only two lines of code in your grid container
*/

:root {
  --primary-dark: #2e016d;
  --primary: #3f0097;
  --primary-light: #8236ff;

  --secondary-dark: #38ccda;
  --secondary: #7fd9e2;

  --accent: #ffd15d;
  --black-light: #303030;
  --black: #000000;
  --white: #ffffff;
  --grey-dark: #b6b9c2;
  --grey-light: #f5f6f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
}

.teaser-grid {
  min-width: 40rem;
  min-height: 100vh;

  /* Add styles to the grid container */
}

.teaser-grid__teaser {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-size: cover;
  background-position: center;
}

.teaser-grid__teaser--spring {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://cdn.britannica.com/05/155405-050-F8969EE6/Spring-flowers-fruit-trees-bloom.jpg");
}
.teaser-grid__teaser--summer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210316134738-02-wisdom-project-summer.jpg");
}
.teaser-grid__teaser--autumn {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://static1.squarespace.com/static/61c4da8eb1b30a201b9669f2/t/651830f64f09ae15ca838107/1696084214564/autumn-leaves.jpg?format=1500w");
}
.teaser-grid__teaser--winter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://source.unsplash.com/random/600x300?winter");
}

.teaser-grid__link {
  color: var(--white);
  text-decoration: none;
}
