/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  /* Used for texts (+ footer background) */
  --color-granite: #252629;
  /* Used for backgrounds (+ footer text color) */
  --color-foam: #ffffff;
  /* Used for buttons, icons, etc. */
  --color-nemo: #ff4a11;
  /* active color for buttons, icons, etc. */
  --color-nemo-mid: #ff5c29;
  /* hover color for buttons, icons, etc. */
  --color-nemo-dark: #e5430f;
  /* Used for borders and some backgrounds */
  --color-water-10: #e4e8f0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-align: left;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
  border: 1px solid #555;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

:focus {
  outline: 2px solid #333;
}
