.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--grey-light);
}

.card--yellow {
  background-color: lightyellow;
}

.card--red {
  background-color: lightcoral;
}

.card--orange {
  background-color: lightsalmon;
}

.card--purple {
  background-color: lavender;
}

.card--green {
  background-color: lightgreen;
}
